name: Build nightly

on:
  schedule:
    - cron: '35 14 * * *'
  workflow_dispatch:

jobs:
  build_nightly:
    runs-on: ubuntu-latest
    environment: nightly
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java JDK
        uses: actions/setup-java@v3.9.0
        with:
          java-version: 17
          distribution: temurin

      - name: Prepare signing keystore
        uses: mobiledevops/secret-to-file-action@v1
        with:
          base64-encoded-secret: ${{ secrets.KEYSTORE_CONTENT }}
          filename: "keystore.jks"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.7.0

      - name: Build
        run: ./gradlew assembleRelease
        env:
          ORG_GRADLE_PROJECT_storeFilePath: "../keystore.jks"
          ORG_GRADLE_PROJECT_storePass: ${{ secrets.KEYSTORE_PASSWORD }}
          ORG_GRADLE_PROJECT_key: ${{ secrets.KEY_ALIAS }}
          ORG_GRADLE_PROJECT_keyPass: ${{ secrets.KEY_PASSWORD }}

      - name: Upload nightly
        uses: actions/upload-artifact@v3
        with:
          name: nasdroid-nightly.apk
          path: app/build/outputs/apk/release/app-release.apk
