name: Code scanning

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '33 19 * * *'

jobs:
  detekt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run Detekt
        continue-on-error: true
        run: ./gradlew detektReport --continue

      - name: Submit Lint report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'build/reports/detekt/merge.sarif'

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run Lint
        continue-on-error: true
        run: ./gradlew app:lint --continue

      - name: Submit Lint report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'app/build/reports/lint-results-debug.sarif'
