name: Code scanning

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '33 19 * * *'

jobs:
  detekt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java JDK
        uses: actions/setup-java@v3.9.0
        with:
          java-version: 17
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Run Detekt
        continue-on-error: true
        run: ./gradlew detekt
      - name: Move reports
        run: |
          mkdir results/
          cp -v -r */build/reports/detekt/detekt.sarif results/
          cp -v -r */*/build/reports/detekt/detekt.sarif results/
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results/
          category: detekt
